.container {
  text-align: right;
}

.h2-container {
  white-space: nowrap; /* Prevent line breaks */
  margin: 0px 0; /* Add margin for spacing */
}

.h2-container h2 {
  display: inline-block; /* Make elements inline */
  margin-right: 30px; /* Add space between h2 elements */
}

